* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v30_442 {
  width: 100%;
  height: 2202px;
  background: rgba(41,44,51,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_443 {
  width: 249px;
  height: 24px;
  background: url("../images/v30_443.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 596px;
  overflow: hidden;
}
.v30_444 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Univers LT Std;
  font-weight: 55 Roman;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_445 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 91px;
  font-family: Univers LT Std;
  font-weight: 55 Roman;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_446 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 198px;
  font-family: Univers LT Std;
  font-weight: 55 Roman;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_447 {
  width: 57px;
  height: 50px;
  background: url("../images/v30_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 135px;
  overflow: hidden;
}
.v30_448 {
  width: 56px;
  height: 49px;
  background: rgba(232,103,38,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(255,255,255,1);
}
.v30_449 {
  width: 57px;
  height: 50px;
  background: rgba(232,103,38,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px solid rgba(255,255,255,1);
}
.v30_450 {
  width: 100%;
  height: 580px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 0px;
  overflow: hidden;
}
.v30_451 {
  width: 660px;
  color: url("../images/v30_451.png");
  position: absolute;
  top: 122px;
  left: 135px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 68px;
  opacity: 1;
  text-align: left;
}
.v30_452 {
  width: 660px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 422px;
  left: 135px;
  font-family: Source Sans Pro;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v30_453 {
  width: 100%;
  height: 880px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 872px;
  left: 115px;
  overflow: hidden;
}
.v30_454 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 872px;
  left: 135px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v30_455 {
  width: 320px;
  height: 280px;
  background: rgba(254,155,51,1);
  opacity: 1;
  position: absolute;
  top: 872px;
  left: 645px;
  overflow: hidden;
}
.v30_456 {
  width: 320px;
  height: 280px;
  background: rgba(254,155,51,1);
  opacity: 1;
  position: absolute;
  top: 1172px;
  left: 645px;
  overflow: hidden;
}
.v30_457 {
  width: 320px;
  height: 280px;
  background: rgba(254,155,51,1);
  opacity: 1;
  position: absolute;
  top: 872px;
  left: 985px;
  overflow: hidden;
}
.v30_458 {
  width: 320px;
  height: 280px;
  background: rgba(254,155,51,1);
  opacity: 1;
  position: absolute;
  top: 1172px;
  left: 985px;
  overflow: hidden;
}
.v30_459 {
  width: 100%;
  height: 280px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1922px;
  left: 0px;
  overflow: hidden;
}
.v30_460 {
  width: 100px;
  height: 30px;
  background: rgba(41,44,51,1);
  opacity: 1;
  position: absolute;
  top: 622px;
  left: 135px;
  overflow: hidden;
}
.v30_461 {
  width: 57px;
  color: rgba(254,155,51,1);
  position: absolute;
  top: 633px;
  left: 157px;
  font-family: Univers LT Std;
  font-weight: 55 Roman;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v30_462 {
  width: 230px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1033px;
  left: 665px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_463 {
  width: 280px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1061px;
  left: 665px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v30_464 {
  width: 230px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1033px;
  left: 1005px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_465 {
  width: 280px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1061px;
  left: 1005px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v30_466 {
  width: 230px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1332px;
  left: 665px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_467 {
  width: 280px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1360px;
  left: 665px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v30_468 {
  width: 230px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1332px;
  left: 1005px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_469 {
  width: 280px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1360px;
  left: 1005px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v30_470 {
  width: 320px;
  height: 280px;
  background: rgba(254,155,51,1);
  opacity: 1;
  position: absolute;
  top: 1472px;
  left: 645px;
  overflow: hidden;
}
.v30_471 {
  width: 320px;
  height: 280px;
  background: rgba(254,155,51,1);
  opacity: 1;
  position: absolute;
  top: 1472px;
  left: 985px;
  overflow: hidden;
}
.v30_472 {
  width: 230px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1632px;
  left: 665px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_473 {
  width: 280px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1660px;
  left: 665px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v30_474 {
  width: 230px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1632px;
  left: 1005px;
  font-family: Univers LT Std;
  font-weight: 65 Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v30_475 {
  width: 280px;
  color: rgba(41,44,51,1);
  position: absolute;
  top: 1671px;
  left: 1005px;
  font-family: Source Sans Pro;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v30_476 {
  width: 320px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1922px;
  left: 135px;
  opacity: 1;
  text-align: left;
}
.v30_477 {
  width: 660px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1922px;
  left: 645px;
  opacity: 1;
  text-align: left;
}
.v30_478 {
  width: 56px;
  height: 56px;
  background: url("../images/v30_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 692px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v30_479 {
  width: 56px;
  height: 56px;
  background: url("../images/v30_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 1032px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v30_480 {
  width: 56px;
  height: 56px;
  background: url("../images/v30_480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1209px;
  left: 1032px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v30_481 {
  width: 56px;
  height: 56px;
  background: url("../images/v30_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1509px;
  left: 1032px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v30_482 {
  width: 56px;
  height: 56px;
  background: url("../images/v30_482.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1509px;
  left: 692px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v30_483 {
  width: 56px;
  height: 56px;
  background: url("../images/v30_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1209px;
  left: 692px;
  border: 0px solid rgba(0,0,0,1);
  overflow: hidden;
}
